body {
    font-family: "Inter", sans-serif;
    background: #272829 !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #0563bb;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}
  
.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}
  
.back-to-top:hover {
    background: #0678e3;
    color: #fff;
}
  
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
  
  
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}


#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #0563bb;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
}
  
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}

@media (max-width: 991px) {
    #header {
      width: 300px;
      background: #fff;
      border-right: 1px solid #e6e9ec;
      left: -300px;
    }
}
  
@media (min-width: 991px) {
    #main {
      margin-left: 100px;
    }
}



@media screen and (max-width: 991px) {
	.navbar {
		display: flex;
		flex-wrap: wrap;
	}

	.navbar-brand {
		width: 100%;
		text-align: center;
		padding: 0px;
		margin: 0 150px 0 0;
		position: relative;
	}

	.navbar-toggler {
		display: block;
		position: relative;
		left: -80px;
		top: -45px;
	}

	.navbar {
		padding-left: 0px;
		display: flex;
		justify-content: space-between;
	}

	.nav-item a {
		position: relative;
		left: -80px;
		top: -30px;
	}

  .nav-item-current a {
    position: relative;
    left: -80px;
    top: -30px;
  }
}

.navbar-brand {
	font-size: 30px;
	font-weight: 700;
	line-height: 56px;
	color: #f14369;
}

.navbar-brand:hover {
	color: #f14369;

}

.nav-item a {
	color: #ffffff !important;
	margin: 15px;
	font-size: 20px;
	font-weight: 500;
	line-height: 5px;
}

.nav-item-current a {
	color: #f14369 !important;
	margin: 15px;
	font-size: 20px;
	font-weight: 500;
	line-height: 5px;
}

.navbar-nav .nav-item .nav-link:hover {
	color: #f14369 !important;
}

.navbar {
	padding-left: 150px;
}